<div *ngIf="artist" class="center-custom my-Responsive col-lg-12">
  <div id="artist-head-card">
    <h1>{{artist.name}}</h1>
    <div class="image">
      <img src="{{ url + 'get-image-artist/' + artist.image }}" *ngIf="artist.image && artist.image != 'null'"/>
    </div>
    <p class="description">
      {{artist.description}}
    </p>

    <div class="clearfix"></div>

    <p style="margin-top: 10px;">
      <a class="btn btn-warning" [routerLink]="['/editar-artista', artist._id]">Editar</a>
      <a class="btn btn-outline-primary" role="button" *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-album', artist._id]">Añadir Album</a>
    </p>

  </div>
  <div id="gallery-albums" *ngIf="albums">
    <!--LISTAR LOS ALBUMS-->


    <ul class="album-list pagination" style="height: 100%;">
      <li *ngFor="let album of albums" class="col-sm-3 album-item">
        <div class="album-image">
          <img src="{{ url + 'get-image-album/' + album.image }}"/>
        </div>
        <div class="album-name">
          <a [routerLink]="['/album', album._id]">{{album.title}}</a>

          <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN' && !confirmado">
            <a class="btn btn-sm btn-warning" [routerLink]="['/editar-album', album._id]">Editar</a>
            <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Borrar</a>
          </div>

          <div class="seguro" *ngIf="confirmado">
            <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Borrar</a>
            <a (click)="onCancelAlbum()" class="btn btn-sm btn-primary">Cancelar</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
